@tailwind base;
@tailwind components;
@tailwind utilities;

.book {
  width: 950px;
  height: 600px;
  position: relative;
  perspective: 2000px;
  margin: 50px auto;
  border-radius: 16px;
}

.page {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition: transform 0.9s ease-in-out;
  border-radius: 16px;

}

.front-page {
  display: flex;
  left: 0;
  transform-origin: right center;

}

.back-page {
  display: flex;
  right: 0;
  transform-origin: left center;

}

.book.flipped .front-page {
  transform: rotateY(180deg);

}

.book.flipped .back-page {
  transform: rotateY(0deg);

}

.coverPage {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 40px;

}

.newPage {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 40px;
}

.stf__parent {
  max-width: 1000px !important;
  margin-left: 80px !important;
}